<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2026 Anshuman X (maxxcodebug). All rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxxcodebug.info">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.XHub"
        android:supportsRtl="true"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
